:root{
  --mainBlue:#2a2a72;
  --lightBlue:#009ffd;
  --mainWhite:#f3f3f3;
  --mainBlack:#232528;
  --mainYellow:#ffa400;
}
 
body{
  font-family: 'Roboto', sans-serif !important;
  background: var(--mainwhite) !important;
  color: var(--mainBlack) !important;

}

.text-title{
  font-family: 'Roboto', sans-serif !important;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-blue{
  color: var(--mainBlue);
}
.text-bright{
  color: var(--lightBlue);
}